@* Views/Account/Profile.cshtml *@
@using bank_project.Models.ViewModels
@model UserProfileViewModel

<div class="container mt-4">
    <h2>會員專區</h2>

    <!-- 會員資料表格 -->
    <div class="card mb-4">
        <div class="card-header">
            <h4>我的資料</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>會員編號</th>
                    <td>@Model.Users.UserID</td>
                </tr>
                <tr>
                    <th>使用者名稱</th>
                    <td>@Model.Users.UserName</td>
                </tr>
                <tr>
                    <th>電子郵件</th>
                    <td>@Model.Users.Email</td>
                </tr>
                <tr>
                    <th>扣款帳號</th>
                    <td>@Model.Users.Account</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- 喜好清單表格 -->
    <div class="card">
        <div class="card-header">
            <h4>我的喜好清單</h4>
        </div>
        <div class="card-body">
            @if (Model.LikeList.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>流水序號</th>
                            <th>訂單名稱</th>
                            <th>訂單編號</th>
                            <th>總金額</th>
                            <th>手續費</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LikeList)
                        {
                            <tr>
                                <td>@item.SN</td>
                                <td>@item.OrderName</td>
                                <td>@item.OrderNUM</td>
                                <td>@item.TotalAmount.ToString("C0")</td>
                                <td>@item.TotalFee.ToString("C0")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">您尚未建立任何喜好清單</div>
            }
        </div>
    </div>
</div>